*
!.*

.DS_Store

# Vim plugins
.vim/plugged/
.viminfo

.squarectl
.yarnrc

.boto

# History files
.bash_history
.sh_history
.python_history
.lesshst

# Wget known hosts database
.wget-hsts

.config/nvim/spell/*.spl
# Contains history of the netrw plugin (possible confidential data)
.config/nvim/.netrwhist
.config/nvm/
.config/karabiner/automatic_backups/
